{% extends 'base.html' %}
{% block title %}建立短網址{% endblock %}
{% block content %}

<div class="card shadow p-4">
    <h4>建立短網址</h4>
    <a class="btn btn-outline-secondary btn-sm col-1" href="{% url 'my_urls' %}" >返回</a>
    <form method="POST">
    {% csrf_token %}
    {{ form.url }}
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors.url }}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">建立</button>
    </form>
</div>
{% endblock %}
